name: main pipeline 

on: 
  push:
    branches:
      -main 

jobs: 
   call-build-workflows:
     uses: ./.github/workflows/build.yml
     secrets:
        DEVOPS_APL_KEY: ${{ secrets.DEVOPS_APL_KEY }} 
